.Montserrat {
    margin: 0;
    padding: 0;
    background: #F2F4F5;
    color: #1E1E1F;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size:60px;
}

.Comforter {
    margin: 0;
    padding: 0;
    background: #F2F4F5;
    color: #1E1E1F;

    font-family: 'Comforter', Arial, Helvetica, sans-serif;
    font-size:60px;

}

.Dongle {
    margin: 0;
    padding: 0;
    background: #F2F4F5;
    color: #1E1E1F;

    font-family: 'Dongle', Arial, Helvetica, sans-serif;
    font-size:60px;

}

.Anton {
    margin: 0;
    padding: 0;
    background: #F2F4F5;
    color: #1E1E1F;

    font-family: 'Anton', Arial, Helvetica, sans-serif;
    font-size:60px;
}


.Lobster {
    margin: 0;
    padding: 0;
    background: #F2F4F5;
    color: #1E1E1F;

    font-family: 'Lobster', Arial, Helvetica, sans-serif;
    font-size:60px;

}

.Architects {
    margin: 0;
    padding: 0;
    background: #F2F4F5;
    color: #1E1E1F;

    font-family: 'Architects Daughter', Arial, Helvetica, sans-serif;
    font-size:60px;
}


